/* global styles */

/*****   *****   *****   *****   *****   *****   ****   *****/
/* gradient background */
body{
  font-family: Arial, sans-serif;
  background: #F0C5FF;
  background: -moz-linear-gradient(left, rgb(70, 22, 87) 5%, #CBCBCB 50%, #F0C5FF 100%);
  background: -webkit-linear-gradient(left, #F0C5FF 0%, #CBCBCB 50%, #F0C5FF 100%);
  background: linear-gradient(to right, #F0C5FF 0%, #CBCBCB 50%, #F0C5FF 100%);
  padding: auto;
}

/*   top of each page --- Black and white nav control */
nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 1rem;
}

/*  links underline when hovered */
nav a:hover {
  text-decoration: underline;
}

/*****   *****   *****   *****   *****   *****   ****   *****/

  
* {
  box-sizing: border-box;
}

/* Two-Image Container */
.two-image-container {
  display: flex;
}

.two-image-container .column {
  flex: 50%;
  padding: 5px;
}


/* Three-Image Container */
.three-image-container {
  display: flex;
}

.three-image-container .column {
  flex: 33.33%;
  padding: 5px;
}

/*   list   */
ul {
  list-style: inside;
  text-align: center;
  color: rgb(110, 106, 114);
  font-family: Georgia, serif;
  font-size: 20px;
  padding: 0;
margin: 0;
}

li {
  margin-bottom: 0.5rem;
}

ol{
  list-style: inside;
  text-align: center; 
  color: rgb(110, 106, 114);
  font-family: Georgia, serif;
  font-size: 20px;
} 

/*****   ***/
h1{
  font-family: Georgia, serif;
  font-size: 40px;
  letter-spacing: 3px;
  word-spacing: 15px;
  color: #7F00FF;
  font-weight: 1000;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(157, 21, 21, 0.74);   
}

/*****   ***/
h2{
   font-family: Georgia, serif;
  font-size: 30px;
  letter-spacing: 3px;
  word-spacing: 12px;
  color: #7F00FF;
  font-weight: 700;
  text-decoration: underline solid rgb(110, 106, 114);
  text-align: center;
  text-transform: uppercase; 
  margin-top: 3rem;
  margin-bottom: 0;
}

/*****   ***/
h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 4px;
  word-spacing: 9px;
  color:rgb(93, 31, 116);
  text-align: center;
}

/*****   ***/
h4{
  text-align: center;
  color: rgb(110, 106, 114);
  font-family: Georgia, serif;
  font-size: 30px;
  margin-top: 3rem;
  margin-bottom: 0;
}


/*****    ***/
p{
  text-align: center;
  color: rgb(146, 48, 181);
  font-family: Georgia, serif;
  font-size: 18px;
}
/*****   *****   *****   *****   *****   *****   ****   *****/

/* page specific styles */

/*****   *****   *****   *****   *****   *****   ****   *****/


#about-header, #education-header, #job-header{
  background-color: #f5f5f5;
  padding: 2rem;
}

img {
  max-width: 100%;
  height: auto;
  margin: 1rem;
  box-shadow: 2px 2px 5px #999;
}

/***** image styles (border and max width)*/
img{ 
    border: 20px solid #000; 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}


/*****   ***/

/*****   *****   *****   *****   *****   *****   ****   *****/  

/*** film border ***/
.film-border {
  background-color: #000;
  padding: 20px;
}

.photo-container {
  display: flex;
  justify-content: space-between;
  /*overflow options = hidden, scroll, auto, visisble*/
  overflow:auto;
}

.photo-container img {
  width: 16%;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
  filter: grayscale(100%) brightness(80%);
  transition: filter 0.3s ease-in-out;
}

/* code for images to revert to original color */
.photo-container img:hover {
  filter: none;
}

.photo-container img:last-child {
  margin-right: 0;
}

/*   2-column grid on smaller screens */
@media only screen and (max-width: 767px) {
  .photo-container {
    flex-wrap: wrap;
  }
  .photo-container img {
    width: 48%;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .photo-container img:last-child {
    margin-bottom: 0;
  }
}
/* end of film photo - about Amanda page - code */


/*****   *****   *****   *****   *****   *****   ****   *****/

/***** recommended reading flexbox *****/

.recommended-reading .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommended-reading .box {
  flex: 1 0 calc(33.33% - 10px);
  margin-bottom: 20px;
}

.recommended-reading .box img {
  width: 200px;
  height: auto;
}




/***
colors
dark purple
  HEX #4A235A rgb (74, 35, 90)

medium dark  
  HEX ##633974 rgb (99, 57, 116)
medium purple
  HEX #8E44AD rgb (142, 68, 173)
light purple % complimentary green & blue
  HEX #D2B4DE  #C0DEB4  #B4D5DE
light purple tint - listed light to dark (inner color of background.)
  #F9F6FB #F4ECF7 #EEE3F3 #E9DAEE #E3D0EA #DDC7E6
tones light purple - grey
#D2B4DE #C8ADD2 #BDA7C6 #B3A0BB #A99AAF #9E93A3 #948D97 #8A868B
***/
